<h1>Hero list!</h1>

#if ($heros)
  <ul>
    #foreach ($hero in $heros)
      <li><a href="/heros/$hero.getId()">$hero.getDescription()</a></li>
    #end
  </ul>
#else
  <p>No heros!</p>
#end

<a href="/heros/new">Add New Hero</a>