<h1>Add a squad</h1>

<p>Add a squad here:</p>

<form action="/squads" method="post">
  <label for="name">squad name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add squad</button>
</form>